/* Tooltip container */
.tool_tip {
  position: relative;
  display: inline-block;
	width: 100%;
}
/* Tooltip text */
.tool_tip .tool_tip_text {
  visibility: hidden;
  width: 100%;
	bottom: 100%;
	left: 50%;
	margin-left: -50%;
  background-color: #5e5e5e;
  color: #fff;
  text-align: left;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
	
	opacity: 0;
  transition: opacity 1s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tool_tip:hover .tool_tip_text {
	opacity: 1;
  visibility: visible;
}